.text-editor + .editor-toolbar {
    opacity: 1;
    border: none;
    background-color: $gray-lightest;
    
    &:hover {
        opacity: 1;
    }
    
    a {
        color: $gray !important;
    }
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 200px;
    max-height: 1280px;
}

.CodeMirror {
    @extend .form-control;
    border: $border-width solid $input-border-color !important;
    border-radius: 0;
}