.onoffswitch {
    position: relative;
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
    padding: 0;
    line-height: 22px;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    background-color: #CCCCCC;
    transition: background-color 0.2s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 22px;
    margin: 0;
    background: #FFFFFF;
    position: absolute;
    top: 0; bottom: 0;
    right: 22px;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #50D9AE;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #50D9AE;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0;
}

.onoffswitch-form-control {
    margin-top: $input-padding-y;
}