@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

//

$gray-dark: #373A3C;
$gray: #55595C;
$gray-light: darken(#FFFFFF, 40);
$gray-lighter: darken(#FFFFFF, 20);
$gray-lightest: darken(#FFFFFF, 8);

$brand-primary: #0275D8;
$brand-success: #5CB85C;
$brand-info: #5BC0DE;
$brand-warning: #F0AD4E;
$brand-danger: #D9534F;
$brand-inverse: $gray-dark;

$body-bg: darken(#FFFFFF, 4);

$enable-flex: true;

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$line-height-base: 1.6;
$font-size-root: 14px;
$font-size-base: 1rem;
$font-size-lg: 2rem;
$small-font-size: 90%;

$font-size-h1: 1.6rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.6rem;
$headings-font-weight: 600;

$navbar-padding-y: 1.4rem;

$border-radius: .3rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$btn-padding-x: 1.4rem;
$btn-padding-y: .8rem;
$btn-font-weight: 600;

$tag-font-weight: normal;
$tag-padding-x: .4rem;
$tag-padding-y: .4rem;

$tag-default-bg: $gray-lighter;
//$tag-primary-bg:            $brand-primary !default;
//$tag-success-bg:            $brand-success !default;
//$tag-info-bg:               $brand-info !default;
//$tag-warning-bg:            $brand-warning !default;
//$tag-danger-bg:             $brand-danger !default;

$tag-color: $gray;
//$tag-link-hover-color:      #fff !default;
//$tag-font-size:             75% !default;
//$tag-font-weight:           bold !default;
//$tag-padding-x:             .4em !default;
//$tag-padding-y:             .25em !default;

$card-border-width: 0;

$dropdown-padding-y: 0;
$dropdown-border-width: 0;
$dropdown-bg: #FFFFFF;
$dropdown-link-hover-bg: $gray-lightest;

$popover-max-width: 320px;
$popover-bg: $gray-lightest;
$popover-border-width: 0;
$popover-box-shadow: none;
$popover-arrow-width: 8px;
$popover-arrow-outer-color: $popover-bg;

$alert-border-width: 0;

//$input-padding-x:                .75rem !default;
//$input-padding-y:                .5rem !default;
$input-line-height: 1.6;
//
//$input-bg:                       #fff !default;
//$input-bg-disabled:              $gray-lighter !default;
//
//$input-color:                    $gray !default;
$input-border-color: rgba(0, 0, 0, .05);
//$input-btn-border-width:         $border-width !default; // For form controls and buttons
//$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;
//
//$input-border-radius:            $border-radius !default;
//$input-border-radius-lg:         $border-radius-lg !default;
//$input-border-radius-sm:         $border-radius-sm !default;
//
//$input-bg-focus:                 $input-bg;
//$input-border-focus:             #66afe9 !default;
//$input-box-shadow-focus:         rgba(102,175,233,.6) !default;
//$input-color-focus:              $input-color;
//
//$input-color-placeholder:        #999 !default;
//
//$input-padding-x-sm:             .5rem !default;
//$input-padding-y-sm:             .25rem !default;
//
//$input-padding-x-lg:             1.5rem !default;
//$input-padding-y-lg:             .75rem !default;

//

@import '~bootstrap/scss/variables';